<br>
<br>
<p class='atama'><%= current_user.company_name %>  薬品在庫</p>
<br>
  <div style="display:inline-flex",class:"kensaku">
   <%= search_form_for @q, url: user_path(@user)  do |f| %>
   <%= f.text_field :chemical_name_cont, placeholder: '薬品名を入力下さい。' %>
   <%= f.submit '検索',class: 'btn btn-primary ' %>
   <% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p><%= link_to '新規在庫登録', new_chem_path %></p>
</div>

＃＃＃＃＃<button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> 検索</button>

<table class="table table-striped table-bordered"> 
 <thead>
  <tr>
    <td class="text-center">品番</th>
    <td class="text-center">在庫数</th>
    <td class="text-center">入庫</th>
    <td class="text-center">出庫</th>
    <td class="text-center">入出履歴</th>
    <td class="text-center">削除</th>    
  </tr>
 </thead>

 <tbody>
 <% @chems.each do |chem| %>
 <tr>
   <td class="text-center"><%=chem.chemical_name %></td>
   <td class="text-center"><%=Chem.find(chem.id).enterings.pluck(:entering_number).sum - Chem.find(chem.id).dispatchings.pluck(:dispatching_number).sum %></td>
   <td class="text-center"><%=link_to '入庫', new_chem_entering_path(chem.id) %></td>
   <td class="text-center"><%=link_to '出庫', new_chem_dispatching_path(chem.id) %></td>
   <td class="text-center"><%=link_to '履歴', history_path(chem.id) %></td>
   <td class="text-center"><%=link_to '削除', edit_chem_path(chem.id) %></td>
 </tr>
<% end %>
 </tbody>
</table>