<br>
<br>
  <div class="one">薬品在庫管理システムへようこそ</div>
<br>
  <div class="two">以下よりログイン下さい。未登録の場合は<%= link_to '新規登録', new_user_path %>をお願い致します。</div>
<br>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="form-group">
        <%= f.label :login_id, 'LOG_IN ID' %>
        <%= f.text_field :login_id, :placeholder => "登録したLOG_IN IDを入力下さい。(10字以内)", class: 'form-control' %>
      </div>
<br>
      <div class="form-group">
        <%= f.label :password, 'PASSWORD' %>
        <%= f.password_field :password, :placeholder => "登録したPASSWORDを入力下さい。(10字以内)", class: 'form-control' %>
      </div>
<br>
<br>
      <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
    <% end %>

  </div>
</div>

