<br>
<br>
<p class='enterings'><%= @chem.chemical_name%>の入庫</p>
<br>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for([@chem,@entering]) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :entering_number, '入庫数' %>
        <%= f.text_field :entering_number, :placeholder => "入庫数を半角数値で入力下さい。(10文字以内)",class: 'form-control' %>
      </div>
<br>
      <div class="form-group">
        <%= f.label :entering_person, '入庫者' %>
        <%= f.text_field :entering_person, :placeholder => "入庫者を入力下さい。(10文字以内)",class: 'form-control' %>
      </div>
<br>
<br>
      <%= f.submit '入庫', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
